.grid {   /*la grid c'est l'ensemble des figures de la galery */
  position: relative;
  margin: 0 auto;
  list-style: none;
  text-align: center;
}

.grid figure {   /* on met 3 figure par lignes */
  position: relative;
  float: left;
  overflow: hidden;
  margin: 0;
  width: 33.3333333%;
  text-align: center;
  cursor: pointer;
}


.grid figure img {  /* on oblige chaque image a s'afficher en entier sans se couper */
  position: relative;
  display: block;
  max-width: 102%;
  opacity: 1;
}

.grid figure figcaption {
  padding: 2em;
  color:#FFFFFF;
  text-transform: uppercase;
  font-size: 1.25em;
  -webkit-backface-visibility: hidden;
  backface-visibility: hidden;
}

.grid figure figcaption::before,
.grid figure figcaption::after {
	pointer-events: none;
}

.grid figure figcaption,  /* affiche la légende dans l'image en prenant 100% la place */
.grid figure figcaption > a {
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
}


.grid figure figcaption > a {
	z-index: 1000;
	text-indent: 200%;
	white-space: nowrap;
	font-size: 0;
	opacity: 0;
}

.grid figure h2 {   /* mettre les titre de each rubrique en gras */
	word-spacing: -0.15em;
	font-weight: 700;
}

.grid figure h2,  /* supprime la marge entre titre et légende */
.grid figure p {
	margin: 0;
}

.grid figure p { /* reéduit la taille du paragraphe de la légende */
	letter-spacing: 1px;
	font-size: 68.5%;
}

/* Preferences :
- romeo
- sadie
- milo
- oscar
*/

/* THEME : Sarah */

figure.effect-sarah {
	background: #D8BFD8;
}

figure.effect-sarah img {
	max-width: none;
	width: -webkit-calc(100% + 20px);
	width: calc(100% + 20px);
	-webkit-transition: opacity 0.35s, -webkit-transform 0.35s;
	transition: opacity 0.35s, transform 0.35s;
	-webkit-transform: translate3d(-10px,0,0);
	transform: translate3d(-10px,0,0);
	-webkit-backface-visibility: hidden;
	backface-visibility: hidden;
}

figure.effect-sarah:hover img {
	opacity: 0.4;
	-webkit-transform: translate3d(0,0,0);
	transform: translate3d(0,0,0);
}

figure.effect-sarah figcaption {
	text-align: left;
}

figure.effect-sarah h2 {
	position: relative;
	overflow: hidden;
	padding: 0.5em 0;
}

figure.effect-sarah h2::after {
	position: absolute;
	bottom: 0;
	left: 0;
	width: 100%;
	height: 3px;
	background: #fff;
	content: '';
	-webkit-transition: -webkit-transform 0.35s;
	transition: transform 0.35s;
	-webkit-transform: translate3d(-100%,0,0);
	transform: translate3d(-100%,0,0);
}

figure.effect-sarah:hover h2::after {
	-webkit-transform: translate3d(0,0,0);
	transform: translate3d(0,0,0);
}

figure.effect-sarah p {
	padding: 1em 0;
	opacity: 0;
	-webkit-transition: opacity 0.35s, -webkit-transform 0.35s;
	transition: opacity 0.35s, transform 0.35s;
	-webkit-transform: translate3d(100%,0,0);
	transform: translate3d(100%,0,0);
}

figure.effect-sarah:hover p {
	opacity: 1;
	-webkit-transform: translate3d(0,0,0);
	transform: translate3d(0,0,0);
}


@media screen and (max-width: 50em) { /* si la fenetre s'ouvre sur une demi fenetre on ne place que deux figure par lignes */
	.content {
		padding: 0 10px;
		text-align: center;
	}
	.grid figure {
		width: 50%;
	}
}

@media (max-width: 639px) { /* a partir de cette résolution une seule figure par ligne */
	.grid figure {width: 100%;}
}








/* z */
